* {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}
.RSO-hero {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
		url(../images/UCF_11.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}

.RSO-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.RSO-logo {
	height: 8dvh;
	display: block;
	margin: 0 auto 20px auto;
}

.RSO-form-box {
	width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: White;
}

.RSO-form-box input,
.RSO-form-box textarea {
	width: 100%;
	margin-bottom: 10px;
	padding: 8px;
	box-sizing: border-box;
}

.RSO-form-box textarea {
	height: 100px;
}
