.test-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.test-tabs {
	display: flex;
}

.test-tab {
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid #ccc;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.test-tab.active {
	background-color: white;
}

.test-tab-content {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	margin-top: -1px;
}
